Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
# (i) string
string_variable = "Hello, World!"

# (ii) list
list_variable = [1, 2, 3, 4, 5]

# (iii) float
float_variable = 3.14

# (iv) tuple
tuple_variable = (1, 2, 3, 4, 5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [1]:
# (i) var1
# Data type: string

# (ii) var2
# Data type: string

# (iii) var3
# Data type: list

# (iv) var4
# Data type: float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:
# (i) / : Division operator, returns the quotient of division.
result = 10 / 3  # Result: 3.3333333333333335

# (ii) % : Modulus operator, returns the remainder of division.
remainder = 10 % 3  # Remainder: 1

# (iii) // : Floor division operator, returns the quotient rounded down to the nearest integer.
result_floor = 10 // 3  # Result: 3

# (iv) ** : Exponentiation operator, raises a number to the power of another number.
result_exp = 2 ** 3  # Result: 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
mixed_list = [1, 'hello', 3.14, True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5, 6), None, 8, 'world']

for item in mixed_list:
    print(f"{item}: {type(item)}")

1: <class 'int'>
hello: <class 'str'>
3.14: <class 'float'>
True: <class 'bool'>
[1, 2, 3]: <class 'list'>
{'a': 1, 'b': 2}: <class 'dict'>
(4, 5, 6): <class 'tuple'>
None: <class 'NoneType'>
8: <class 'int'>
world: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
A = 20
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [3]:
int_list = [i for i in range(1, 26)]

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types: These are data types whose values can be changed after creation. Lists and dictionaries in Python are mutable data types. Example:

In [4]:
mutable_list = [1, 2, 3]
mutable_list[0] = 4
print(mutable_list)  # Output: [4, 2, 3]

[4, 2, 3]

Immutable data types: These are data types whose values cannot be changed after creation. Tuples and strings in Python are immutable data types. Example:

In [6]:
immutable_tuple = (1, 2, 3)
immutable_tuple[0] = 4  # This will raise an error

TypeError: 'tuple' object does not support item assignment